body {
    font-family: Arial, sans-serif;
    background-color: hsl(0, 2%, 51%);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .weatherForm {
    margin: 20px;
  }
  .cityInput {
    padding: 10px;
    font-size: 1.5rem;
    border: 2px solid hsla(0, 1%, 19%, 0.3);
    margin: 10px;
    width: 300px;
  }
  button[type="submit"] {
    padding: 10px 20px;
    font-size: 1.5rem;
    background-color: hsl(122, 48%, 56%);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  button[type="submit"]:hover {
    background-color: hsl(122, 39%, 40%);
  }
  .card {
    display: none;
    text-align: center;
    background: linear-gradient(180deg, hsl(210, 100%, 75%), hsl(40, 100%, 50%));
    padding: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    line-height: 2;
  }
  .cityDisplay {
    font-size: 2rem;
    font-weight: bold;
    margin: 10px 0;
  }
  .tempDisplay,
  .humidityDisplay,
  .descDisplay,
  .weatherEmoji {
    font-size: 1.5rem;
    margin: 10px 0;
    color: hsl(0, 0%, 20%);
  }
  .weatherEmoji {
    font-size: 2rem;
    font-weight: bold;
  }
  